@import url('https://fonts.googleapis.com/css?family=Assistant|Heebo|Kanit&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Assistant', sans-serif;
}

body.front-page {
    background: #eee;
}

h1, h2 {
    font-family: 'Kanit', sans-serif;
}

.hidden {
    display: none;
}