table, .order-now-container, .discount-code {
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
    max-width: 700px;
}

.cart-table {
    box-shadow: 2px 3px 5px 5px #444;
    border-collapse: collapse;
}

thead {
    background: #444;
    color: white;
}

tbody tr {
    border: 1px solid black;
}

.thumbnail {
    height: 80px;
    display: inline-block;
}

tfoot {
    background: #999;
    color: white;
}

.cart-items-total {
    font-weight: bolder;
}

.discount-code {
    text-align: right;
    height: 50px;
    padding-top: 25px;
    margin-bottom: 10px;
}

.discount-code input {
    height: 30px;
    width: 18%;
    text-align: center;
}

.discount-code label {
    font-size: 1.2em;
    font-weight: bold;
}

.order-now-container {
    text-align: right;
}

.order-now-container button {
    font-weight: bolder;
    margin-top: 30px;
    height: 50px;
    width: 200px;
    border-radius: 7px;
    font-size: 1.25em;
    transition: color 200ms ease-in-out;
}

.order-now-container button:hover {
    background: orange;
    color: white;
}

.order-now-container button:active {
    background: greenyellow;
    color: black;
}

